<h2><%= t('admin_menu.title')%></h2>

<div id ="Sections">
  <div id = "Create Section">
    <p><strong><%= t('admin_menu.create_section.title')%></strong></p>
      <p><%= link_to t("admin_menu.create_section.create_auction"), new_auction_lot_path %></p>
  </div>
</div>
